body {
  text-align: center;
  background-color: rgba(79, 120, 224, 0.926);
  font-size: 18px;
}

button[type=submit]{
  border-radius: 30px;
  height: 24px;
background-color: white;
}

li {
    border: 1px solid powderblue;
    padding: 5px;
    text-align: center
}

input[type=number] {
  border: 1px solid #000000;
  border-radius: 30px; 
  width: 100px;
  height: 16px;

}input[type="number"]:focus {
  color: #300ccc;
  border: 2px solid #000000
}

